
.product-list {
    background-color: $primary;
    padding: 10px;

    ul {
        list-style: none;
        padding: 0;
    }

    .sub-total-container {
        border-top: 1px solid #c1bfbf;
        padding: 15px 20px 5px;
        flex-direction: row-reverse;

        strong {
            font-weight: 600;
        }
    }
}

li {
    border-top: 1px solid #c1bfbf;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 10px;

    &:first-child {
        border-top: none;
    }

    img {
        height: 100px;
        object-fit: cover;
        width: 180px;
    }

    .copy {
        justify-content: space-between;
        padding: 10px 20px 20px;
        width: 100%;
    }

    p {
        font-size: 20px;

        strong {
            font-weight: 600;
        }
    }

    .btn {
        display: inline-block;
        height: 40px;
    }

    svg {
        fill: $primary;
        height: auto;
        width: 20px;
    }
}

aside {
    background-color: $primary;
    padding: 20px 10px 30px;
    font-size: 20px;

    .btn {
        margin-top: 40px;
    }
}