nav {
    background-color: $primary;
    border-bottom: 1px solid #c1bfbf;
    margin-bottom: 60px;
}

.logo {
    width: 130px;
}

.cart-container {
    svg {
        fill: $quaternary;
        width: 40px;
    }
}