.container-image {
    img {
        width: 100%;
    }
}

h1 {
    padding-bottom: 40px;
}

.container-type-buttons {
    margin-bottom: 40px;
    width: 100%;
}

.container-price {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}