@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Source+Serif+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Source+Serif+Pro:wght@300&display=swap');

// Colors
$primary: #fff;
$secondary: #000;
$tertiary: #f6f5f3;
$quaternary: #a6a19a;
$quinary: #d4aa63;
$senary: #c3a68e;
$septenary: #c19679;